websocket-ping-py-Node-Red-flow.json
 [{"id":"d4a87726.25c0e","type":"function","z":"e54d9834.7a144","name":"","func":"var n = msg.payload;\n\n    if(n.includes(\"(Machine identifier)\")){\n    return[msg,null];\n    } \n   \nreturn [null,msg]\n   \n\n   ","outputs":2,"noerr":0,"x":650,"y":480,"wires":[["843225d1.a55b18"],[]]},{"id":"11b8af71.68bd41","type":"change","z":"e54d9834.7a144","name":"","rules":[{"t":"set","p":" (Machine identifier)","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":480,"wires":[[]]},{"id":"85ad2de5.cbc428","type":"websocket out","z":"e54d9834.7a144","name":"","server":"585956c1.8bf85","client":"","x":1260,"y":240,"wires":[]},{"id":"ae631668.8fa5f","type":"function","z":"e54d9834.7a144","name":"","func":"var n = msg.payload\nvar time= msg.time\nif (n.includes(\"gettime\")){\n var m=Math.floor(Date.now() / 1000)\n    msg.payload=m\n    return [msg]\n}\n\nif (n.includes(\"|online\")){\n var s=Math.floor(Date.now() / 1000 ) + time\n    msg.payload=s\n    return [msg]\n}\n","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["2b3efe87.66057a"]]},{"id":"2b3efe87.66057a","type":"change","z":"e54d9834.7a144","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["85ad2de5.cbc428"]]},{"id":"c730be18.65c02","type":"websocket in","z":"e54d9834.7a144","name":"","server":"","client":"cfaf48e4.baac08","x":500,"y":220,"wires":[["da45494f.be7ab8"]]},{"id":"da45494f.be7ab8","type":"change","z":"e54d9834.7a144","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"900","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["ae631668.8fa5f","d4a87726.25c0e"]]},{"id":"843225d1.a55b18","type":"mytimeout","z":"e54d9834.7a144","name":"","outtopic":"","outsafe":"online","outwarning":"","outunsafe":"ofline","warning":"0","timer":"900","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":840,"y":480,"wires":[["11b8af71.68bd41"],[]]},{"id":"585956c1.8bf85","type":"websocket-listener","z":"","path":"ws://connect.websocket.in/xnode?room_id=19210","wholemsg":"false"},{"id":"cfaf48e4.baac08","type":"websocket-client","z":"","path":"ws://connect.websocket.in/xnode?room_id=19210","tls":"","wholemsg":"false"}]
